<section id="footer" class="p-20 w-full mt-auto bg-sky-900 text-white">
    <h2 class="text-20 font-700 uppercase">
        Szkolenie by Dawid Mazur
    </h2>
</section>


{{ wp_footer() }}

{% if user %}
	<style>
		html {
			margin-top: 0 !important;
		}

        main {
            padding-top: 32px;
        }

        .kint-rich {
            position: relative;
            z-index: 999999999999;
        }
	</style>
{% endif %}

{# <!-- polifill --> #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-polyfills/0.1.43/polyfill.min.js"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>if(typeof AOS !== 'undefinded') AOS.init();</script>