:root,
*::before,
*::after {
    /* remember every color must have prefix --pc-
     * you can comment colors*/
    /* basic */
    
    --pc-c-dark: 23, 22, 22;

    /*project colors*/
    --pc-c-primary: 200,152,70;
    --pc-c-secondary: 255,41,134;

    --pc-c-gray-300: 112,112,112;
    --pc-c-gray: 133,133,133;
    --pc-c-gray-500: 159,159,159;
    --pc-c-gray-600: 171,171,171;

    --pc-c-gray-100: 255,255,255;

    --pc-c-gray-200: 116,116,116;
    --pc-c-gray-placeholder: 143,143,143;

    /*basic colors*/
    /*typography*/
    --pc-c-t-heading: var(--pc-c-gray-100);
    --pc-c-t-text: var(--pc-c-gray-100);
    --pc-c-t-label: var(--pc-c-gray-100);

    /*bg*/
    --pc-c-bg: var(--pc-c-gray);

    /*border*/
    --pc-c-border: var(--pc-c-primary);
    --pc-c-border-2: transparent;
    --pc-c-border-gray: 126,126,126;

    /*input*/
    --pc-c-input: var(--pc-c-gray);


    /* woocoomerce */

    --pc-c-woo-message-border: var(--pc-c-primary);
    --pc-c-woo-message-text: 255,255,255;

    --pc-c-woo-checkout-border-separator: 187,187,187;
}