{% extends "core/base.twig" %}

{% block content %}
    {% embed "views/layouts/quide_layout.twig" %}
        {% block content %}
            {% include "views/components/breadcrumbs/breadcrumbs.twig" with {
                breadcrumbs_list: breadcrumbs_list
            } only %}

            <h1 class="text-40 mb-20">
                {{ post.post_title }}
            </h1>

            <div class="w-full p-20 max-w-840 max-auto">
                {# {{ d(posts) }} #}
                <div class="w-full grid gap-10 grid-cols-1 md:grid-cols-2 slap:grid-cols-3">
                    {% for i in posts %}
                        {% include "views/components/post-prev/post-prev.twig" with {
                           post: i
                        } %}
                    {% endfor %}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}